# Токен телеграм-бота
BOT_TOKEN=token_string

# Сервер SeaTable для работы с API
SEATABLE_SERVER=https://server.ru



# SeaTable API — ключ основного приложения
SEATABLE_API_APP_TOKEN=token

# Стартовая таблица меню для роли действующих сотрудников
SEATABLE_MAIN_MENU_EMPLOYEE_ID=str

# Стартовая таблица меню для роли новичков
SEATABLE_MAIN_MENU_NEWCOMER_ID=str

# Таблица с уведомлениями
BROADCAST_TABLE_ID=str



# SeaTable API — ключ БД пользователей
SEATABLE_API_USER_TOKEN=token

# Таблица с авторизационными данными пользователей
SEATABLE_USERS_TABLE_ID=str

# Таблица с телефонным справочником в SeaTable
SEATABLE_EMPLOYEE_BOOK_ID=str

# Таблица админов бота
SEATABLE_ADMIN_TABLE_ID=str