# Токен телеграм-бота
BOT_TOKEN=token_string

# Сервер SeaTable для работы с API
SEATABLE_SERVER=https://server.ru

# SeaTable API — ключ основного приложения
SEATABLE_API_APP_TOKEN=token_string

# Стартовая таблица меню
SEATABLE_MAIN_MENU_ID=0000

# Таблица с авторизационными данными пользователей
SEATABLE_USERS_TABLE_ID=tid_string

# Таблица с уведомлениями
BROADCAST_TABLE_ID=tid_string

# SeaTable API — ключ БД телефонного справочника
SEATABLE_API_ATS_TOKEN=token_string

# Назавание приложения с телефонным справочником в SeaTable
SEATABLE_ATS_APP=app_name_string

SEATABLE_EMPLOYEE_BOOK_ID=tid_string