# Токен телеграм-бота
BOT_TOKEN=token

# SeaTable API
SEATABLE_API_TOKEN=token

# Сервер SeaTable для работы с API
SEATABLE_SERVER=https://server.ru

# Стартовая таблица меню
SEATABLE_MAIN_MENU_ID=string